/* remove browser padding and get a clean slate to work on */
/* set background-color */
/* Set container padding */
/* Use flexbox to place containers */
/* Use rem as unit for size of text and space inside/outside/between elements*/
/* set class question size, color, space  */
/* set class answer size, color, space */
/* set class scorekeeping/current questions size, color, space */

:root {
  background-color: #feeaff;
  font-size: 100%; /* if set to 62.5% font-size is set to 10 (browser standard 16px) */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* select alla elements
Set font-family for everything
Remove browser padding and margin
*/
* {
  box-sizing: border-box; /* sets width and height to include padding and border, instead of add them on top of witdh and height*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;

}

#mainContainer {
  
  display: flex;
  flex-direction: column;

  max-width: 40rem;
  padding: 2rem;
}
.gameContainer {
  border: 0.2rem solid #3f0042;
  padding: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0rem -0.1rem
}

.playerContainer {
  border: solid 0.3rem #3f0042;
  padding: 0.4rem;
  font-size: 2rem;
  margin: 0.2rem;
}

.questionContainer {
  border: solid 0.13rem;
  padding: 0.7rem;
  margin: 0.2rem;
}

.answersContainer {
  border: solid 0rem;
  padding: 0rem;
}
.answersContainer > span {
  display: flex;
  border: solid 0.13rem;
  margin: 0.2rem;
}
.answersContainer > span:hover {
  cursor: pointer;
  transform: translateY(-0.15rem);
  transition: transform 50ms;
}

.answersContainer > span > p {
  margin-right: 0.7rem;
  margin: 0.19rem;
}

.answersContainer > span > p:first-child {
  background-color: #f5d1f8;
  padding-right: 0.6rem;

  font-weight: 900;
}

.answersContainer > span > p:nth-child(2) {
  font-style: italic;
}

.answerSelected {
  background-color: #d16ad6;
}

.answerSelected > * {
  background-color: inherit;
}

.questionCounter {
  font-weight: 800;
  padding-bottom: 1rem;
  text-decoration: underline;
}

.button {
  padding: 0.2rem;
  margin: 0.2rem;
  margin-top: 0.4rem;
}

